FluentArgs is a library to parse command line arguments. It focuses on a very simple API and
strong typing. It is able to generate a help view and proper error messages.

Example code:
```csharp
!INCLUDE:examples/Simple01.cs
```

