source https://www.nuget.org/api/v2
nuget FluentAssertions
nuget System.Collections.Immutable >= 1.4.0
nuget Xunit.Core
nuget Xunit.Runner.VisualStudio
nuget Xbehave
nuget FakeItEasy

group Build
    nuget Microsoft.CodeAnalysis.FxCopAnalyzers
    nuget Microsoft.CodeQuality.Analyzers
    nuget StyleCop.Analyzers >= 1.1.0-beta

